//*Primary
$color1 : #7C6A0A;
$color2 : #BABD8D;
$color3 : #FFDAC6;

//*Secundary
$color4 : #FFEFE7;
$color5: #E86424;
$color6: #FA9500;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    background-color: $color4 ;
    width: 100%;
    height: 100px;
    border: 1px solid black;

}

.main{
    background-color: $color4 ;

}