@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//   ### Primary

$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);
$font1: "Open Sans", sans-serif;
$font2: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  width: 90%;
  height: 700px;
  background-image: url(../images/bg-desktop.svg);
  background-color: $Violet;
  display: flex;

  &__imagenes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    &__img-logo {
      width: 200px;
      height: auto;
    }

    &__img-mobile {
      width: 570px;
      height: auto;
    }
  }

  &__texto {
    display: inline;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: aliceblue;
      font-size: 42px;
      font-family: $font2;
      font-weight: 600;
    }
    p {
      color: rgba(235, 234, 234, 0.842);
      font-family: $font1;
      margin: 20px 0;
    }

    button {
      width: 180px;
      height: 50px;
      border-radius: 25px;
      border: none;
      color: aliceblue;
      background-color: $Soft-Magenta;
      font-family: $font2;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        background-color: $Violet;
        border: 1px solid $Soft-Magenta;
        color: $Soft-Magenta;
        box-shadow: -2px 9px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
