/* Color pallet*/
$withe-color:#fff;
$black-color:#000;

$main-color:#d3ad7f;
$bg:#010103;

//border
$border: .1rem solid rgba(255,255,255,.3);

/*Typografy*/
$font1: "Roboto", sans-serif;
$font2 : Arial;


 