.cartas {
  width: 100%;
  height: 500px;
  background: #c1c0c6;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carta1 {
    border: 1px solid black;
    width: 300px;
    height: 370px;
    border-radius: 24px;
  /* Fondo */
  background-image: url(../img/tb.jpg);
  background-repeat: no-repeat;
  /* background-size:  1300px */
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.carta_info {
  /* border: 2px solid rgb(127, 127, 213); */
  background: rgba(146, 146, 146, 0.508);
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.card-btn {
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 14px;
}

.f2 {
  background-image: url(../img/kb.jpg);
  background-size: 300px;
  transition: all .2s ease;
}

.f3{
    background-image: url(../img/gg.jpg);
    background-size: 300px

}
.f3:hover{
    background-size: 400px;
    transition: all .5s ease;
    cursor: pointer;
}

.f2:hover{
    background-size: 400px;
    transition: all .5s ease;
    cursor: pointer;
    scale:1;
}