.fondo{

    width: 100%;
    height: 580px;

    /* Imagen de fondo de un elmento */
    background-image: url(../img/wall.jpg);
    background-repeat: no-repeat;
    /* background-size:  1300px */
    background-size: cover;
    background-position: 0px 0px;

}