.podcast-card {
    width: 80%;
    display: flex;
    background-color: #e3ebf4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.podcast-content {
    padding: 20px;
    flex: 2;
}

.podcast-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.podcast-content p {
    margin: 10px 0;
}

.podcast-content hr {
    border: 0;
    border-top: 2px solid #00A3FF;
    width: 80px;
    margin: 10px 0;
}

.podcast-tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.podcast-tags span {
    background-color: #dfe7f2;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.play-btn {
    background-color: #7b8fa6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.play-btn i {
    margin-right: 5px;
}

.podcast-image {
    flex: 1;
    background-size: cover;
    background-position: center;
}



.fa-brands{
    color: #00A3FF;
    font-size: 45px;
}