ol,
ul {
  list-style: none;
}

button {
  border: none;
  background: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

p a {
  display: inline;
}


svg {
  width: 100%;
  display: block;
  fill: currentColor;
}