
@keyframes moveInLeft{
    0%{opacity:0; transform: translateX(-10rem)}
    
    40%{transform: translateX(2rem)}
    
    100%{opacity:1;transform: translate(0)}
}

@keyframes moveInRight{
    0%{opacity:0; transform: translateX(20rem)}
    
    40%{transform: translateX(-2rem)}
    
    100%{opacity:1;transform: translate(0)}
}