@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,600;1,700;1,800&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;700&display=swap");
// ### Primary

$-Softred: hsl(7, 99%, 70%);
$-Yellew: hsl(51, 100%, 49%);
$-Dark-desaturatedcyan: hsl(167, 40%, 24%); //(graphic design text)
$-Dark-blue: hsl(198, 62%, 26%); //(photography text)
$-Dark-moderatecyan: hsl(183, 79%, 76%); //(footer)
$-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$-Very-dark-grayish-blue: hsl(213, 9%, 39%);
$-Dark-grayish-blue: hsl(232, 10%, 55%);
$-Grayish-blue: hsl(210, 4%, 67%);
$-White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  //   font-family: "Inter", sans-serif;
  //   font-family: "Kumbh Sans", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;

      &:last-child {
        font-size: 14px;
        color: #000;
        background-color: #ffffff;
        padding: 12px 20px;
        border-radius: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  &__title {
    font-size: 54px;
    color: $-White;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin: 100px 0 0 0;
  }

  &__arrow {
    width: 50px;
    margin: 140px 0;
  }
}

.main {
  height: 250vh;

  &__section1 {
    height: 33%;
    width: 100%;
    display: flex;
    &-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      // padding: 0 200px;

      div {
        // border: 1px solid violet;
        height: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 0 100px;

        h2 {
          font-size: 50px;
        }
        p {
          font-size: 20px;
          color: $-Grayish-blue;
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          line-height: 34px;
        }
        a {
          color: #000;
          text-decoration: none;

          text-transform: uppercase;
        }
      }
    }

    &-right {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__section2 {
    height: 33%;
    width: 100%;
    display: flex;
  }

  &__section3 {
    width: 100%;
    height: 34%;
    display: flex;

    &-left {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: end;
      justify-content: center;

      background-image: url(../images/desktop/image-graphic-design.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      div {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 0 0 45px 0;

        h3 {
          font-size: 30px;
          color: $-Dark-desaturatedcyan;
        }

        p {
          color: $-Dark-desaturatedcyan;
          line-height: 30px;
        }
      }
    }

    &-right {
      width: 50%;
      height: 100%;
      background-image: url(../images/desktop/image-photography.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: end;
      justify-content: center;
      div {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 0 0 45px 0;

        h3 {
          font-size: 30px;
          color: $-Dark-desaturatedcyan;
        }

        p {
          color: $-Dark-desaturatedcyan;
          line-height: 30px;
        }
      }
    }
  }
}

.client {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    color: $-Grayish-blue;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 80px 0;
    letter-spacing: 10px;
  }

  &__Content {
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-around;

    &-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      color: $-Dark-grayish-blue;

      img {
        border-radius: 50%;
        width: 70px;
      }

      p {
        line-height: 30px;
      }

      h5 {
        font-weight: 900;
        color: #000;
        font-size: 18px;
      }
      a {
        text-decoration: none;
        color: $-Grayish-blue;
        font-size: 12px;
      }
    }
  }
}
.product {
  width: 100%;
  height: 60vh;
  display: flex;

  div {
    width: 25%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
  width: 100%;
  height: 50vh;
  background-color: $-Dark-moderatecyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__img{
    
        width: 180px;;
    
  }

  &__info {
    a {
      text-decoration: none;
      margin: 0 30px;
      color: $-Dark-desaturatedcyan;
      font-family: "Inter", sans-serif;

      &:hover{
        color: $-White;
      }
    }
  }

  &__social {
    
    img {
      margin: 0 10px;
      fill: red  ;
      color: red;
      
    }
  }
}
