*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #fbda61,#ff5acd);
}

.card{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.3s ease-out;
    
    &:hover{
        height: 400px;

    }
    &:hover .card__img{
        width: 200px;
        height: 200px;
        border-radius:20px;

    }

    &:hover .detail{
        transform: translateY(0px);

    }

    &__img{
        position: absolute;
        left: 50%;
        top: -70px;
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        background-color: darkcyan;
        border-radius: 50%;
        transition: 0.3s ;
        box-shadow: 0 15px 15px rgba(0,0,0,0.35);
        overflow: hidden;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      
    }

    &__info{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        overflow: hidden;


        .detail{
            padding: 40px;
            text-align: center;
            width: 100%;
            transition: 0.3s;
            transform: translateY(150px);


            h2{
                font-size: 1.25em;
                font-weight: 600;
                color: #555;
                line-height: 1.2em;
            }

            span{
                font-size: 0.75em;
                font-weight: 500;
            }

            &__data{
                display: flex;
                justify-content: space-between;
                margin: 20px 0;

                h3{
                    font-size: 1.1em;
                    color: #555;
                    line-height: 1.2em;
                    font-weight: 600;

                }

                span{
                    font-size: 0.85em;
                    font-weight: 400;
                    opacity: 0.5;
                }
            }

            &__btn{
                display: flex;
                justify-content: space-between;
                gap: 20px;


                button{
                    padding: 10px 30px;
                    border: none;
                    outline: none;
                    font-size: 1em;
                    background: #ff5f95;
                    color: white;
                    cursor: pointer;

                    &:nth-child(2){
                        border: 1px solid #999;
                        color: #999;
                        background: #fff;
                    }
                }
            }
        }


    }
}