/*
* first line color */
$color-primary: #f32525dc;
$color-primary-light: #e04545dc;
$color-primary-dark: #be0404dc;
$color-secondary: #3d64b9e5;
$color-secondary-light: #6081c9e5;
$color-secondary-dark: #1642a3e5;

/* 
*secunde line color */
$color-grey: #777;
$color-withe: #fff;
$color-black: #000;