
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// ### Primary

$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// ### Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);


$font: 'Inter', sans-serif;
$font2: 'Open Sans', sans-serif;
$font3: 'Poppins', sans-serif;
$font4: 'Roboto', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: $font;

}

li{
    list-style: none;
}

.conainer{
    padding: 0px 0.5rem;
    min-width: 370px;
}
.nav{
    width: 100%;


    &:target .nav__list{
        height: 300px; 
    }

    &:target .open{
        display: none;
    }

    &:target .close{
        display: inline
      
    }

    &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;


        .close{
            display: none;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*klklkl*/
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out ;

        li{
            margin: 1rem;
        }
        
    }
}

.main{

    
    &__left{

        display: flex;
        flex-direction: column;

        &__desktop{
            display: none;
        }
      
    
        img{
            width: 100%;
        }

        h2{
            font-size: 3rem;
            font-weight: 800;
            line-height: 1;
        }
        
        p{
            color: $Dark-grayish-blue;
            line-height: 1.7;
            margin: 10px 0;
        }

        button{

            padding: 0.8rem 2rem;
            border: none;
            background-color: $Soft-red;
            color: $Off-white;
            letter-spacing: 2px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 10px 0;
            width: 200px;

        }
    }

    &__right{
        height: 90vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: $Very-dark-blue;
        color: $Off-white;
        padding: 1rem;

        .line{
            border: 1px solid $Dark-grayish-blue;

        }

        h3{
            color: $Soft-orange;
            font-size: 2rem;
        }

        &__card{
 
            h4{
                font-size: 1.5rem;
            }
            p{
                color: $Grayish-blue;
                font-size: 1.2rem;
                margin: 15px 0;
            }

           
        }
    }
}

.footer{
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    &__cards{

  
        display: flex;
        width: 100%;
        height: 100px;


        &__img{

            img{
                height: 100%;
            }
        
        }
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;

            h5{
                font-size: 1.1rem;
                color: $Dark-grayish-blue;
            }

            p{
                color: $Dark-grayish-blue;

                strong{
                    color: black
                }
            }


        }

    }

 

   
}




 
@media (min-width:500px){

    .main__left__desktop{
        display: inline;
    }
    
    .main__left__mobile{
        display:none;
        
    }

}

@media (min-width: 600px){

    .footer{
        &__cards{
            width: 80%;
            margin: 0 auto;
        }
    }

}
@media (min-width: 900px){

    .nav{
        display: flex;
        justify-content: space-between;
        background-color: $Off-white;
        
        &__img-menu{
            display: none;
        }

        &__list{
            height: auto;
            flex-direction: row;
        }
    }


    .footer{
    
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 200px;
       
        &__cards{
            width:300px;

          
        }
    }

}

@media (min-width:1000px){
    

    .main{
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        height: 60vh;

        &__left{
            width: 62%;
          
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows:3fr 1fr 1fr;

            .main__left__desktop{
                grid-area: 1/1 / 2/3;
            }
            
            h2{
                grid-area: 2/1 / 3/3;
                
            }
             
            .main__letf__button{
                
                grid-area: 3/1 / 4/3;
                width: 100%;
          
                display: flex;
                flex-direction: column;

                button{
                    margin: 0 auto;
                
                }
            }





        }
        
        &__right{
            width: 35%;
            height: 100%;
        }



    }
}