.btn{

    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding:1rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative; 
    }

    &--withe{
        background-color: $color-withe;
        color: $color-grey;
        border-radius:2rem;
        position: absolute;
        top:120%;
        left:30%;
        font-size: 1.5rem;
    }

    &:hover{
        transform:translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-primary-light,0.603);
        color:$color-primary-light;
    }

    &:active{
        transform: translateY(-1px); 
        box-shadow: 0 1rem 1rem rgba(209, 9, 9, 0.432);

    }

}
