* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  // *,
  // *::before,
  // *::after{
  //   box-sizing: inherit;
  // }

  
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
