@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

    /* ### Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* ### Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98);
}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    
}

.container{
    /* max-width: 1440px;
    min-height:800px; */
    width: 100%;
    height: 100%;
  

}

.container h1{
    font-weight: 200;
    text-align: center;
    color: var(--Grayish-Blue);
}
.container h1 strong{
    color: var(--Very-Dark-Blue);
}

.container p{
    text-align: center;
    margin-top: 10px;
    color: var(--Grayish-Blue);
}

.card-container{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px ;

}

.card-container .card-central{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0 30px;
    gap: 30px;

}


.card{
    height: 250px;
    min-width: 330px;
    max-width: 330px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 15px -4px rgba(0,0,0,0.18);
}

.card .card-text{
    height:50%;
}

.card .card-text p {
    text-align: start;
}

.card .card-img{
    height:50%;
    display: flex;
    justify-content: end;
    align-items: end;

}
.card .card-img img{
    height: 70px;
    /* width: 20px; */
}

.supervisor{
    border-top: 3px solid var(--Cyan);
}

.team{
    border-top: 3px solid var(--Red);
}

.karma{
    border-top: 3px solid var(--Orange);
}

.calculator{
    border-top: 3px solid var(--Blue);
}

