@import "../Utils/mixins";
@import "../Utils/variables";
.header {
  background: $bg;
  @include flex(row, nowrap, space-between, center);
  padding: 1.5rem 7%;
  border-bottom: $border;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .logo {
    img {
      height: 6rem;
    }
  }

  .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: $withe-color;

    &:hover {
      color: $main-color;
      border-bottom: 0.1rem solid $main-color;
      padding-bottom: 0.5rem;
      transition: 0.2s linear;
    }
  }

  .icons {
    div {
      color: $withe-color;
      cursor: pointer;
      font-size: 2.5rem;
      margin-left: 2rem;

      &:hover {
        color: $main-color;
      }
    }
    #menu-btn {
      display: none;
    }
  }

  .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: $withe-color;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;  

    input{
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        color: $black-color;
        // padding: 1rem;
        text-transform: none;

    } 

    label{
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 1.5rem;
        color: $black-color;

        &:hover{
            color: $main-color;
        }
    }
  }
}
